@import "../../components/normalize.scss/normalize";
@import "vars";
@import "../../components/twitter-bootstrap-sass/vendor/assets/stylesheets/bootstrap";
@import "compass/reset";

@import "../../components/nvd3/src/nv.d3.css";

@import "base";
@import "layout";
@import "net-worth";


body{
	font:11px Arial, Helvetica, sans-serif;
	color:#fff;
	background:#222;
	padding-top:40px;
}


#folders{
	width:820px;
	margin:20px auto;
	padding:5px;
	color:#888;
}

.folder-row{
	padding:5px;
	background:#333;
	margin:0px 0px 5px 0px;
	@include border-radius(3px);
	border:1px #111 solid;
}

.folder-icon{
	width:25px;
	height:25px;
	float:left;
	@include border-radius(25px);
	@include background-image(linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.3)));
	@include box-shadow(0px 0px 3px #111);
	margin:7px;
}

.folder-name{
	float:left;
	padding: 12px 0px 0px 5px;
	font-size: 13px;
}

.folderChart{
	width:150px;
	height:40px;
	float:right;
	margin-left:5px;
	background:#222;
	@include border-radius(3px);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}